button {
    background-color: #ccc;
    border: none;
    padding: 10px 18px;
    font-weight: bold;
    transition: background-color 0.5s, color 3s;
}

button:hover {
    background-color: red;
    color: white;
}