body {
    margin: 0;
    font-family: sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: #009578;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.logo {
    height: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
}

main {
    margin-top: 70px;
    font-size: 20px;
    color: #333;
}

.container {
    padding: 2em;
    max-width: 1200px;
    margin: 0 auto;
}

.heading {
    color: #252c6a;
}

.button {
    background-color: #5662ce;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.button:hover {
    background-color: #252c6a;
}

footer p {
    color: #ccc;
}